<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Econ Global 2017</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/dc.css">
    <link rel="stylesheet" href="./static/css/leaflet.css">
    <link rel="stylesheet" href="./static/css/bootstrap.css?v={{version}}">
    <link rel="stylesheet" href="./static/css/main.css?v={{version}}">
    <link rel="stylesheet" href="./static/css/keen-dashboards.css?v={{version}}">
	
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
	


</style>
	
	
</head>
<body style="background-color: #3F4C59;">

<ul>
	<li><a href="./" style="font-size:large;">Econ Global 2017</a></li>
	
  	<li style="float:right"><a class="active" onclick="fis2017(map)" >Fis2017</a></li>
	<li style="float:right"><a class="active" onclick="fis2016(map)" >Fis2016</a></li>
  	<li style="float:right"><a class="active" onclick="fis2015(map)">Fis2015</a></li> 
	
	
</ul>	
<br/>
	
<div class="container-fluid"> 
	
    <div class="row" id="control-row">
	 <div class="col-xs-6 col-md-6">
	    
		 <div class="col-xs-3 col-md-6">      		
			<text style="font-weight:lighter;">General Government Finance</text>
			<div id="gov_finance" class="dc-chart"></div>
		 </div>	
		 <div class="col-xs-3 col-md-4">      		
			<text style="font-weight:lighter;">Saving+Invest</text>
			<div id="investment" class="dc-chart"></div>
		 </div>     
	 </div>     
    		<!-- Map -->  
    	<div class="col-xs-6 col-md-6" >
		<div id="map_legend" style="display:none">
			<span style="width:2%;font-size:small;">legend:</span>
			<div id="expand" style="font-size: smaller;background-color: #7E57C2; width : 18%; height: 20px;float: right;">Expan. Policy</div>
			<div id="consolidate" style="font-size: smaller;background-color: #F39C12; width : 18%; height: 20px;float: right;">Fis. Consolidation</div>
			<div id="risk" style="font-size: smaller;background-color: #E74C3C; width : 18%; height: 20px;float: right;">Near Term Risk</div>
			<div id="medium" style="font-size: smaller;background-color: #2980B9; width : 18%; height: 20px;float: right;">Med. Term Risk</div>
			<div id="tax" style="font-size: smaller;background-color: #45B39D; width : 18%; height: 20px;float: right;">Tax Adjustment</div>
		</div>	
       		<div id="datamap" style="background-color: #3F4C59;position: relative; width: 100%; height: 300px;"></div>	    
               

    	</div>	    
	      
   </div>
					<!-- 2nd row -->  
  <div class="row">
	  <div class="col-xs-3 col-md-3">
			<text style="font-weight:lighter;">GDP Current</text>	    
			<div class="dc-chart" id="gdp_bar"></div>
	  </div>
	  <div class="col-xs-3 col-md-3">
			<text style="font-weight:lighter;">Unemployment rate</text>	    
			<div class="dc-chart" id="population_bar"></div>
	  </div>
	  
       <!-- countryName -->
		<div  class="col-xs-6">
			<div id="countryName-container"  class="chart-wrapper" style="background-color:brown;"></div>   
		</div>
        <!-- Metric 1 -->
	      <div class="col-sm-3">
		   
			<div class="chart-wrapper">
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;"> 
				    2017 GDP in Billions
				  </div>
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;">            
				    <div id="gdp"></div>            
				  </div>
			 </div>
		    
	      </div> 
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      		<div class="col-sm-3">
		    	
			 <div class="chart-wrapper">
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;"> 
				    2017 Purchase Power Parity in Billions
				  </div>
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;">            
				    <div id="ppp"></div>
				  </div>
			 </div>
		     
      		</div>
      <!-- Metric 2 --> 
      
  </div>    
                                                <!-- 3rd row -->          
<div class="row">
	    
        <!-- Metric 1 -->
	      <div class="col-sm-3">
		   
			<div class="chart-wrapper">
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;"> 
				    Region
				  </div>
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;">            
				    <div id="country_region"></div>            
				  </div>
			 </div>
		    
	      </div> 
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      		<div class="col-sm-3">
		    	
			 <div class="chart-wrapper">
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;"> 
				    Income
				  </div>
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;">            
				    <div id="country_income"></div>
				  </div>
			 </div>
		     
      		</div>
      <!-- Metric 2 --> 
	<!-- Metric 3 -->
	      <div class="col-sm-3">
		   
			<div class="chart-wrapper">
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;"> 
				    Is Oil Producer?
				  </div>
				  <div class="chart-stage" style="color:#FFFFFF; background-color: #3F4C59;">            
				    <div id="oil_producer"></div>            
				  </div>
			 </div>
		    
	      </div> 
      <!-- Metric 1 -->
      
  </div>   
	
<!-- 
<div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered table-striped" id="data-table">
        <thead>
          <tr class="header">
            <th>Brewery</th>
            <th>Beer</th>
            <th>Style</th>
            <th>My Rating</th>
            <th>Community Rating</th>
            <th>ABV %</th>
            <th>IBU</th>
          </tr>
        </thead>
      </table>
    </div>
 -->	  
  </div>
</div>
<script src="./static/js/d3.js"></script>
<script src="./static/js/crossfilter.js"></script>
<script src="./static/js/dc.js"></script>
<script src="./static/js/leaflet.js"></script>
<script src="./static/js/underscore-min.js"></script>
<script src="./static/js/jquery.min.js?v={{version}}"></script>
<script src="./static/js/imf_anal.js?v={{version}}"></script>
  <!-- dataMap --> 
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="./static/js/datamaps.world.min.js?v={{version}}"></script>  
<script src="./static/js/dataMap_color.js?v={{version}}"></script> 
<script type="text/javascript">

var data;	
call_dc(imf['USA']);
	
/* DataMaps */
var highlight = 'USA';
var map = new Datamap({
	    element: document.getElementById('datamap'),
	    projection: 'mercator', // big world map
	    // countries don't listed in dataset will be painted with this color
	    fills: { defaultFill: '#F5F5F5' },
	   
	    geographyConfig: {
	        borderColor: '#3F4C59',
	        highlightBorderWidth: 1,
	        
	        // only change border
	        highlightBorderColor: '#F7C331',		
		    
	        // show desired information in tooltip
	        popupTemplate: function(geo, data) {
	        	return '<div class="hoverinfo" style="color:black"><strong>' + geo.properties.name + '</strong></div>';	        
	        }
	    },
	    done: function(datamap){
	        datamap.svg.call(d3.behavior.zoom().on("zoom", redraw));
	        function redraw() {
	            datamap.svg.selectAll("g").attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
	        };
		datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
		//	update_highlight(geography.id);   
			var gdps = countries;
			$('#countryName-container').text(geography.properties.name);
			   $('#countryName-container').css({"font-size":"25px","color":"#fff", "text-align": "center"});
			$("#gdp").text('$ ' +gdps[geography.id]['gross domestic product, current prices']);
			   $("#gdp").css({"font-size":"25px","color":"#66BB6A", "float" : "right"});
			$("#ppp").text('$ ' +gdps[geography.id]['gross domestic product based on purchasing-power-parity (ppp) valuation of country gdp']);
			   $("#ppp").css({"font-size":"25px","color":"#66BB6A", "float" : "right"});
			$("#country_region").text(gdps[geography.id]['region']);
			   $("#country_region").css({"font-size":"25px","color":"#FFF176", "float" : "right"});
			$("#country_income").text(gdps[geography.id]['income']);
			   $("#country_income").css({"font-size":"25px","color":"white", "float" : "right"});
			$("#oil_producer").text((gdps[geography.id]['oils'] === 'Oil Producing' ) ? 'True' : 'False');
			   $("#oil_producer").css({"font-size":"25px","color":"#2196F3", "float" : "right"});				
			update_highlight(this, highlight,geography.id);
			data = imf[geography.id];
			call_dc(data);
			
		//	dc.renderAll();
				
		});    
	  }
	});
    
function update_highlight(map, old, id){
	
	map.updateChoropleth({old: '#F5F5F5' }, {reset: true});	
	map.updateChoropleth({id: 'red' }, {reset: true});  
}
/* Parse JSON file, create charts, draw markers on map */
//d3.json(data, function (error, data) {
function call_dc(data){
  var imf = data;

  var fullDateFormat = d3.time.format('%a, %d %b %Y %X %Z');
  var yearFormat = d3.time.format('%Y');
  var monthFormat = d3.time.format('%b');
  var dayOfWeekFormat = d3.time.format('%a');
	
  	

  // set crossfilter
  var ndx = crossfilter(imf);
  var all = ndx.groupAll();	
  /* General Government Fin Health  */
	var gov_fin = dc.compositeChart('#gov_finance');
	var gov_fin_dim = ndx.dimension(dc.pluck('year')),
	revenue = gov_fin_dim.group().reduceSum(dc.pluck('general_government_revenue')),
	expenditure = gov_fin_dim.group().reduceSum(dc.pluck('general_government_total_expenditure')),
	net_lend_borrow = gov_fin_dim.group().reduceSum(dc.pluck('general_government_net_lendingborrowing')),
 	gross_debt = gov_fin_dim.group().reduceSum(dc.pluck('general_government_gross_debt'));
  	
	gov_fin.width('350').height('200').renderHorizontalGridLines(true)	
		.x(d3.scale.linear().domain([2005,2020]))
		.yAxisLabel("% of GDP")		
		.legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))
		.transitionDuration(500)
		.elasticY(true)
		.brushOn(false)		
		.compose([
			dc.lineChart(gov_fin).group(revenue, 'General Government Revenue')
						.dimension(gov_fin_dim)
						.colors('#2ECC71'),						
			dc.lineChart(gov_fin).group(expenditure, 'General Total Expenditure')
						.dimension(gov_fin_dim)
						.colors('#EC7063'),
			dc.lineChart(gov_fin).group(net_lend_borrow, 'General Net Lend/Borrow')
						.dimension(gov_fin_dim)
						.colors('#5DADE2'),						
			dc.lineChart(gov_fin).group(gross_debt, 'General Gross Debt')
						.dimension(gov_fin_dim)
						.colors('#17202A')			
    		]);
	
  /* Invest + Save  */	
	var investment = dc.compositeChart('#investment');
	var invest_dim = ndx.dimension(dc.pluck('year')),
	    savings =    invest_dim.group().reduceSum(dc.pluck('gross_national_savings')),
	    invest =    invest_dim.group().reduceSum(dc.pluck('total_investment'));
	
	investment.width('350').height('200').renderHorizontalGridLines(true)
		.dimension(invest_dim)	
		.x(d3.scale.linear().domain([2005,2020]))
		.yAxisLabel("% of GDP")		
		.legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))
		.transitionDuration(500)
		.elasticY(true)
		.brushOn(false)		
		.compose([
			dc.lineChart(investment).group(savings, 'Gross National Savings')
						.dimension(invest_dim)
						.colors('#73C6B6'),
						
			dc.lineChart(investment).group(invest, 'Total Investment')
						.dimension(invest_dim)
						.colors('#F8C471')
						
			
    		]);
/*	
   var years_pie = dc.pieChart('#gov_fin_years');
	gov_fin_grp = gov_fin_dim.group().reduceSum(function(d) {return d.general_government_revenue + d.general_government_total_expenditure + d.general_government_net_lendingborrowing + d.general_government_gross_debt;});
   	years_pie.width(130).height(130)
			.dimension(gov_fin_dim)
   			.group(gov_fin_grp)
			.innerRadius(10); 
*/	
   var gdp_bar = dc.barChart('#gdp_bar');
	gdp_dim = ndx.dimension(dc.pluck('year')),
	gdp_grp = gdp_dim.group().reduceSum(dc.pluck('gross_domestic_product__current_prices'));
	
	gdp_bar.width(350).height(200)
		.x(d3.scale.linear().domain([2005, 2020]))
		.elasticY(true)
      		.centerBar(true)
		.brushOn(false)
//		.xAxisLabel("GDP current")
		.yAxisLabel('U.S dollar Billions')
		.dimension(gdp_dim)
		.group(gdp_grp)
		.colors('#117A65')
		.renderHorizontalGridLines(true);
		
   var population_bar = dc.barChart('#population_bar');
	pop_dim = ndx.dimension(dc.pluck('year')),
	pop_grp = pop_dim.group().reduceSum(dc.pluck('unemployment_rate'));
	
	population_bar.width(350).height(200)
		.x(d3.scale.linear().domain([2005, 2020]))
		.elasticY(true)
      		.centerBar(true)
		.brushOn(false)
//		.xAxisLabel("Population")
		.yAxisLabel('Millions')
		.dimension(pop_dim)
		.group(pop_grp)
		.colors('#117A65')
		.renderHorizontalGridLines(true);
	
   	
  
  // showtime	
  dc.renderAll();

}

</script>
</body></html>
